.PresOut {
  overflow: auto;
  
  table {
    border-collapse: collapse;
    width: 100%;
  }

  th {
    background-color: #4CAF50;
    color: white;
  }

  th, td {
    padding: 15px;
    text-align: left;
    border: 1px solid #ddd;
  }

  tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  tr:hover {
    background-color: #ddd;
  }

  .pagination {
    display: inline-block;
    float: right;
    margin: 20px 0;

    a {
      color: black;
      float: left;
      padding: 8px 16px;
      text-decoration: none;
      cursor: pointer;
      transition: background-color .3s;
    }

    a.active {
      background-color: #4CAF50;
      color: white;
    }

    a:hover:not(.active) {
      background-color: #ddd;
    }
  }
}